<div *ngIf="Messages | async as Messages">
  <app-Empty></app-Empty>
  <div class="grid fullsite">
    <h1>Chat</h1>
    <app-Messages class="full" *ngFor="let msg of Messages" Username="{{msg.Username}}" Date="{{msg.Date}}" Content="{{msg.Content}}" Owner="{{msg.Owner}}" MyId="{{Owner}}"></app-Messages>
    <app-Empty></app-Empty>
    <div class="Send">
      <form [formGroup]="Group" (ngSubmit)="OnSubmit(Group.value)">  
        <input type="text" placeholder="Enter message" id="message" formControlName="message" required/>
        <button type="submit"><i data-feather="send"></i></button>
      </form>
    </div>
  </div>
  <app-Empty></app-Empty>
</div>
<app-Loading *ngIf="!(Messages | async)"></app-Loading>