<app-Empty></app-Empty>
<div class="heading">
  <h2>Buy Pi coins in {{State}}</h2>
</div>
<div>
  <div class="table">
    <span class="Name">Seller</span>
    <span class="Payment">Payment method</span>
    <span class="Price">Price</span>
  </div>
</div>
<div class="container">
    <div class="buyer" *ngFor="let buyer of Buyers">
      <span class="Name">{{buyer.Username}}</span>
      <span class="Payment">{{buyer.Deposit}}</span>
      <span class="Price">{{buyer.Price}}{{buyer.Currency}}</span>
      <a href="buy/{{buyer.Id}}"><button>Buy</button></a>
    </div>
</div>
