<div *ngIf="!Loading">
  <app-Empty></app-Empty>
  <div class="grid fullsite">
    <h1>{{User.Username}}</h1>

    <mat-vertical-stepper class="stepper" [linear]="false" #stepper>
      <mat-step>
        <form [formGroup]="Group">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field>
            <input matInput placeholder="Last name" formControlName="LastName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="First name" formControlName="FirstName">
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form [formGroup]="Group">
          <ng-template matStepLabel>Fill out your profile details</ng-template>
          <mat-form-field>
            <textarea matInput placeholder="Description" formControlName="Description"></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Terms" formControlName="Terms"></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form [formGroup]="Group">
          <ng-template matStepLabel>Change Account</ng-template>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="Username">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="Email">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Languages</mat-label>
            <mat-select formControlName="Languages" multiple>
              <mat-option value="Afrikanns">Afrikanns</mat-option>
              <mat-option value="Albanian">Albanian</mat-option>
              <mat-option value="Arabic">Arabic</mat-option>
              <mat-option value="Armenian">Armenian</mat-option>
              <mat-option value="Basque">Basque</mat-option>
              <mat-option value="Bengali">Bengali</mat-option>
              <mat-option value="Bulgarian">Bulgarian</mat-option>
              <mat-option value="Catalan">Catalan</mat-option>
              <mat-option value="Cambodian">Cambodian</mat-option>
              <mat-option value="Chinese (Mandarin)">Chinese (Mandarin)</mat-option>
              <mat-option value="Croation">Croation</mat-option>
              <mat-option value="Czech">Czech</mat-option>
              <mat-option value="Danish">Danish</mat-option>
              <mat-option value="Dutch">Dutch</mat-option>
              <mat-option value="English">English</mat-option>
              <mat-option value="Estonian">Estonian</mat-option>
              <mat-option value="Fiji">Fiji</mat-option>
              <mat-option value="Finnish">Finnish</mat-option>
              <mat-option value="French">French</mat-option>
              <mat-option value="Georgian">Georgian</mat-option>
              <mat-option value="German">German</mat-option>
              <mat-option value="Greek">Greek</mat-option>
              <mat-option value="Gujarati">Gujarati</mat-option>
              <mat-option value="Hebrew">Hebrew</mat-option>
              <mat-option value="Hindi">Hindi</mat-option>
              <mat-option value="Hungarian">Hungarian</mat-option>
              <mat-option value="Icelandic">Icelandic</mat-option>
              <mat-option value="Indonesian">Indonesian</mat-option>
              <mat-option value="Irish">Irish</mat-option>
              <mat-option value="Italian">Italian</mat-option>
              <mat-option value="Japanese">Japanese</mat-option>
              <mat-option value="Javanese">Javanese</mat-option>
              <mat-option value="Korean">Korean</mat-option>
              <mat-option value="Latin">Latin</mat-option>
              <mat-option value="Latvian">Latvian</mat-option>
              <mat-option value="Lithuanian">Lithuanian</mat-option>
              <mat-option value="Macedonian">Macedonian</mat-option>
              <mat-option value="Malay">Malay</mat-option>
              <mat-option value="Malayalam">Malayalam</mat-option>
              <mat-option value="Maltese">Maltese</mat-option>
              <mat-option value="Maori">Maori</mat-option>
              <mat-option value="Marathi">Marathi</mat-option>
              <mat-option value="Mongolian">Mongolian</mat-option>
              <mat-option value="Nepali">Nepali</mat-option>
              <mat-option value="Norwegian">Norwegian</mat-option>
              <mat-option value="Persian">Persian</mat-option>
              <mat-option value="Polish">Polish</mat-option>
              <mat-option value="Portuguese">Portuguese</mat-option>
              <mat-option value="Punjabi">Punjabi</mat-option>
              <mat-option value="Quechua">Quechua</mat-option>
              <mat-option value="Romanian">Romanian</mat-option>
              <mat-option value="Russian">Russian</mat-option>
              <mat-option value="Samoan">Samoan</mat-option>
              <mat-option value="Serbian">Serbian</mat-option>
              <mat-option value="Slovak">Slovak</mat-option>
              <mat-option value="Slovenian">Slovenian</mat-option>
              <mat-option value="Spanish">Spanish</mat-option>
              <mat-option value="Swahili">Swahili</mat-option>
              <mat-option value="Swedish ">Swedish </mat-option>
              <mat-option value="Tamil">Tamil</mat-option>
              <mat-option value="Tatar">Tatar</mat-option>
              <mat-option value="Telugu">Telugu</mat-option>
              <mat-option value="Thai">Thai</mat-option>
              <mat-option value="Tibetan">Tibetan</mat-option>
              <mat-option value="Tonga">Tonga</mat-option>
              <mat-option value="Turkish">Turkish</mat-option>
              <mat-option value="Ukranian">Ukranian</mat-option>
              <mat-option value="Urdu">Urdu</mat-option>
              <mat-option value="Uzbek">Uzbek</mat-option>
              <mat-option value="Vietnamese">Vietnamese</mat-option>
              <mat-option value="Welsh">Welsh</mat-option>
              <mat-option value="Xhosa">Xhosa</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="New password" formControlName="NPassword">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Repeat password" formControlName="RPassword">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form [formGroup]="Group">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <input matInput placeholder="Country" formControlName="Country">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="City" formControlName="City">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="ZIP" formControlName="ZIP">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Street, Address" formControlName="Street">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form [formGroup]="Group" (ngSubmit)="(Group.value)">
          <ng-template matStepLabel>Save changes</ng-template>
          <div>
            <mat-form-field>
              <input matInput type="password" placeholder="Old password" formControlName="OldPassword" required>
            </mat-form-field>
            <button mat-button matStepperPrevious (click)="OnChange(Group.value)">Change</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>

  </div>
  <app-Empty></app-Empty>
</div>
<app-Loading *ngIf="Loading"></app-Loading>