<app-Empty></app-Empty>
<div class="heading">
  <h2>Sell Pi coins in {{State}}</h2>
</div>
<div>
  <div class="table">
    <span class="Name">Seller</span>
    <span class="Payment">Payment method</span>
    <span class="Price">Price / Pi</span>
  </div>
</div>
<div class="container">
  <div class="seller" *ngFor="let seller of Sellers">
    <span class="Name">{{seller.Name}}</span>
    <span class="Payment">{{seller.PaymentMethod}}:<br />{{seller.Description}}</span>
    <span class="Price">{{seller.Price}}$</span>
    <button>Sell</button>
  </div>
</div>
