h2 {
    text-align: center;
}

.container {
    width: 100%;
}

.seller {
    height: 40px;
    display: grid;
    grid-template-areas: "Name Payment Payment Price Button";
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
}

.seller > .Name {
    grid-area: Name;
}

.seller > .Payment {
    grid-area: Payment;
}

.seller > .Price {
    grid-area: Price;
    color: green;
}

.seller button {
    grid-area: Button;
    height: 25px;
    width: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.table {
    height: 5vh;
    display: grid;
    grid-template-areas: "TName TPayment TPayment TPrice None";
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: whitesmoke;
}

.table > .Name {
    grid-area: TName;
}

.table > .Payment {
    grid-area: TPayment;
}

.table > .Price {
    grid-area: TPrice;
}

.heading {
    margin-bottom: 15px;
}