<div *ngIf="!Loading">
  <app-Empty></app-Empty>
  <div class="container fullsite">
    <app-Warning Content="Client isn't available until {{GetDate()}}"></app-Warning>
    <mat-card class="card">
      <mat-card-title>Username</mat-card-title>
      <mat-card-content>
        {{User.Username}}
      </mat-card-content>
    </mat-card>
    <mat-card class="card" *ngIf="User.Description">
      <mat-card-title>Description</mat-card-title>
      <mat-card-content>
        {{User.Description}}
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Confirmed purchases</mat-card-title>
      <mat-card-content>
        {{User.ConfirmedTrades.length}}
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Feedback score</mat-card-title>
      <mat-card-content>
        {{User.FeedbackScore}}%
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Account created</mat-card-title>
      <mat-card-content>
        {{User.CreatedAt}}
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Languages</mat-card-title>
      <mat-card-content>
        {{User.Languages.join(', ')}}
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Trustworthy</mat-card-title>
      <mat-card-content>
        Trusted by {{User.Trust.length}} people
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Verified</mat-card-title>
      <mat-card-content>
        <mat-icon *ngIf="!User.VerifiedEmail">clear</mat-icon>
        <mat-icon *ngIf="User.VerifiedEmail">verified_user</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>Feedback</mat-card-title>
      <mat-card-content *ngIf="User.Comments.length <= 0">
        There are no reviews yet, why shouldn't you be the first one reviewing {{User.Username}}
      </mat-card-content>
      <mat-card-content style="width: 85%;" *ngIf="User.Comments.length > 0">
        <div class="scroll">
          <mat-card class="comment" *ngFor="let c of User.Comments">
            <mat-card-title class="name">{{c.Username}}</mat-card-title>
            <mat-card-content class="text">
              <div>
                <p>{{c.Text}}</p>
              </div>
            </mat-card-content>
            <mat-icon class="rating" *ngIf="c.Rating === 'positiv'">thumb_up</mat-icon>
            <mat-icon class="rating" *ngIf="c.Rating !== 'positiv'">thumb_down</mat-icon>
          </mat-card>
        </div>
      </mat-card-content>
      <button *ngIf="Profile && !User.NotAvailable && User.Id !== Profile.Id" mat-raised-button (click)="CreateReview()">Create Review</button>
    </mat-card>
  </div>
  <app-Empty></app-Empty>
</div>
<app-Loading *ngIf="Loading"></app-Loading>
