<div style="width: 100%;" *ngIf="!Loading">
  <app-Empty></app-Empty>
  <div class="container fullsite">
    <h1>{{User.Username}}</h1>
    <div class="confirmed">
      <h3>Number of confirmed purchases</h3>
      <p>{{User.ConfirmedTrades.length}}</p>
    </div>
    <div class="feedbackscore">
      <h3>Feedback score</h3>
      <p>{{User.FeedbackScore}}%</p>
    </div>
    <div class="created">
      <h3>Account created</h3>
      <p>{{User.CreatedAt}}</p>
    </div>
    <div class="languages">
      <h3>Languages</h3>
      <p>{{User.Languages.join(', ')}}</p>
    </div>
    <div class="trusted">
      <h3>Trustworthy</h3>
      <p>Trusted by {{User.Trust.length}} people</p>
    </div>
    <div class="verified">
      <h3>Verified</h3>
      <i data-feather="x" *ngIf="!User.VerifiedEmail"></i>
      <i data-feather="check" *ngIf="User.VerifiedEmail"></i>
    </div>
    <div class="feedback">
      <h3>Feedback</h3>
      <div class="comment" *ngFor="let c of User.Comments">
        <a href="user/{{c.UserId}}"><h4>{{c.Username}}</h4></a>
        <div class="text">
          <p>{{c.Text}}</p>
        </div>
        <span *ngIf="c.Rating === 'good'"><i data-feather="thumbs-up"></i></span>
        <span *ngIf="c.Rating !== 'good'"><i data-feather="thumbs-down"></i></span>
      </div>
    </div>
    <form *ngIf="Me && Me.Id !== User.Id" class="form" [formGroup]="Group" (ngSubmit)="Submit(Group.value)">
      <h3>Create review</h3>
      <select value="positiv" formControlName="Rating">
        <option value="positiv">positiv</option>
        <option value="negative">negative</option>
      </select>
      <input type="text" placeholder="Enter text..." formControlName="Text" />
      <button type="submit">Create review</button>
    </form>
  </div>
  <app-Empty></app-Empty>
</div>
<app-Loading *ngIf="Loading"></app-Loading>
