<app-Empty></app-Empty>
<div class="fullsite">
  <div class="desc">
    <h1>Login to your account</h1>
    <p>
      Sign in to be able to contact your customers
    </p>
  </div>
  <br />
  <form (ngSubmit)="OnLogin(GetLoginData())">
    <mat-form-field class="mat-input">
      <input matInput type="text" placeholder="Username" [formControl]="Username">
      <mat-error *ngIf="Username.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-input">
      <input matInput type="password" placeholder="Password" [formControl]="Password">
      <mat-error *ngIf="Password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-stroked-button type="submit">Sign in</button>
  </form>

  <app-GoogleAuth></app-GoogleAuth>
  <app-FacebookAuth></app-FacebookAuth>

  <div class="switch">
    <span>No account yet? <a href="register">Sign up</a></span>
    <span>Forgot your password? <span class="link" (click)="ResetPassword()">Reset Password</span></span>
  </div>

  <div *ngIf="Reset">
    <form (ngSubmit)="OnReset(GetResetData())">
      <mat-form-field class="mat-input">
        <input matInput type="email" placeholder="Email" [formControl]="Email">
        <mat-error *ngIf="Email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="Email.hasError('email')">
          Email is in <strong>wrong</strong> format
        </mat-error>  
      </mat-form-field>

      <button mat-stroked-button type="submit">Reset Password</button>
    </form>
  </div>
</div>
