<app-Empty></app-Empty>
<div class="fullsite">
  <div class="desc">
    <h1>Login to your account</h1>
    <p>
      Sign in to be able to contact your customers
    </p>
  </div>
  <br />
  <form [formGroup]="Login" (ngSubmit)="OnLogin(Login.value)">
    <div class="property">
        <label for="Username">Username</label>
        <input type="text" placeholder="Username" id="Username" formControlName="Username" />
    </div>
    <div class="property">
        <label for="Password">Password</label>
        <input type="password" placeholder="Password" id="Password" formControlName="Password" />
    </div>

    <button type="submit">Sign in</button>

    <app-Error class="Error" (CloseError)="Close($event)" *ngIf="ErrorLogin" [ErrorCode]="ErrorLogin.Code" [ErrorMessage]="ErrorLogin.Msg"></app-Error>
  </form>

  <div class="switch">
    <span>No account yet? <a href="register">Sign up</a></span>
    <span>Forgot your password? <span class="link" (click)="ResetPassword()">Reset Password</span></span>
  </div>

  <app-GoogleAuth></app-GoogleAuth>
  <app-FacebookAuth></app-FacebookAuth>

  <div *ngIf="Reset">
    <form [formGroup]="ResetGroup" (ngSubmit)="OnReset(ResetGroup.value)">
      <label for="resetEmail">Email</label>
      <input type="email" id="resetEmail" placeholder="Enter E-Mail..." formControlName="Email" required />
      <button type="submit">Reset Password</button>
    </form>
  
    <app-Error *ngIf="ErrorReset" class="Error" (CloseError)="Close($event)" [ErrorMessage]="ErrorReset.Msg" [ErrorCode]="ErrorReset.Code"></app-Error>
    <app-Success *ngIf="Success"></app-Success>
  </div>
</div>
