<app-Empty></app-Empty>
<div class="fullsite">
  <div class="desc">
    <h1>Create an new account</h1>
    <p>
      When you create an account then you will be able to post offers and talk to other customers
    </p>
  </div>
  <br />
  <div class="formHolder">
    <form (ngSubmit)="OnRegister(GetData())">
      <mat-form-field class="mat-input">
        <input matInput type="text" placeholder="Username" [formControl]="Username">
        <mat-error *ngIf="Username.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="Username.hasError('minlength')">
          Username needs more than <strong>3</strong> letters
        </mat-error>
        <mat-error *ngIf="Username.hasError('maxlength')">
          Username needs less than <strong>21</strong> letters
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-input">
        <input matInput type="email" placeholder="Email" [formControl]="Email">
        <mat-error *ngIf="Email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="Email.hasError('email')">
          Email is in <strong>wrong</strong> format
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-input">
        <input matInput type="password" placeholder="Password" [formControl]="Password">
        <mat-error *ngIf="Password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-input">
        <input matInput type="password" placeholder="Repeat password" [formControl]="RPassword">
        <mat-error *ngIf="RPassword.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <button type="submit" mat-stroked-button>Sign up</button>
    </form>

    <div class="auth">
      <app-GoogleAuth></app-GoogleAuth>
      <app-Empty></app-Empty>
      <app-FacebookAuth></app-FacebookAuth>
    </div>
  </div>

  <div class="switch">
    <span>Already have an account? <a href="login">Sign in</a></span>
  </div>
</div>
