<div *ngIf="!Loading">
  <app-Empty></app-Empty>
  <div class="container fullsite">
    <mat-card *ngIf="Offer.Type.Buy">
      <mat-card-title>Buy Pi with {{Offer.Deposit}}</mat-card-title>
      <mat-card-content>
        FindPiNearYou.tk user {{Offer.Username}} wishes to sell Pi to you.
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="Offer.Type.Sell">
      <mat-card-title>Sell Pi with {{Offer.Deposit}}</mat-card-title>
      <mat-card-content>
        FindPiNearYou.tk user {{Offer.Username}} wishes to buy Pi from you.
      </mat-card-content>
    </mat-card>
    <mat-card class="sidecard">
      <mat-card-title>Price</mat-card-title>
      <mat-card-content>
        <p>
          {{Offer.Price}}{{Offer.Currency}} / Pi
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="sidecard">
      <mat-card-title>Limit</mat-card-title>
      <mat-card-content>
        <p>
          {{Offer.Limit}}
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card (click)="OpenUser(Offer.UserId)" class="sidecard">
      <mat-card-title>User</mat-card-title>
      <mat-card-content>
        <p><mat-icon>account_circle</mat-icon>{{Offer.Username}}</p>
      </mat-card-content>
    </mat-card>
    <button class="contact" mat-raised-button *ngIf="Profile && Offer.UserId !== Profile.Id" (click)="OpenDialog()">Contact me</button>
  </div>
  <app-Empty></app-Empty>
</div>
<app-Loading *ngIf="Loading"></app-Loading>
