<div *ngIf="!Loading">
  <app-Empty></app-Empty>
  <h1>Chats</h1>
  <div class="flex fullsite">
    <div class="chat noChats" *ngIf="Chats.length <= 0">
        <span><i data-feather="user"></i>&nbsp;No chats found</span>
        <p><a class="link" href="/">Find users to chat with by trading</a></p>
    </div>  
    <a *ngFor="let chat of Chats" href="chats/{{chat.Id}}" class="chat">
      <div>
        <span><i data-feather="user"></i>&nbsp;{{chat.Username}}</span>
        <p><a class="link" href="user/{{chat.UserId}}">See profile</a></p>
        <div [ngClass]="chat.IsAvailable ? 'circle online' : 'circle offline'"></div>
      </div>
    </a>
  </div>
  <app-Empty></app-Empty>
</div>
<app-Loading *ngIf="Loading"></app-Loading>