.noChats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-margin {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.chat a {
    color: blue;
}

.chat {
    margin-bottom: 15px;
}

p {
    margin: 0 0 0 0;
}

.chat > .content {
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0;
}

.chat > .contentblock {
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0;
}

svg {
    vertical-align: middle;
    height: 15px;
    width: 15px;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.online {
    background-color: green;
}

.offline {
    background-color: gray;
}

@media (min-width: 950px) {
    .chatsgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 20px;
    }

    .chat {
        margin: 0;
    }
}