<mat-form-field [formGroup]="Group">
  <mat-select value="{{Group.value.Currency}}" formControlName="Currency">
    <mat-option value="USD" selected="selected">United States Dollars</mat-option>
    <mat-option value="EUR">Euro</mat-option>
    <mat-option value="GBP">United Kingdom Pounds</mat-option>
    <mat-option value="DZD">Algeria Dinars</mat-option>
    <mat-option value="ARP">Argentina Pesos</mat-option>
    <mat-option value="AUD">Australia Dollars</mat-option>
    <mat-option value="ATS">Austria Schillings</mat-option>
    <mat-option value="BSD">Bahamas Dollars</mat-option>
    <mat-option value="BBD">Barbados Dollars</mat-option>
    <mat-option value="BEF">Belgium Francs</mat-option>
    <mat-option value="BMD">Bermuda Dollars</mat-option>
    <mat-option value="BRL">Brazil Real</mat-option>
    <mat-option value="BGN">Bulgaria Lev</mat-option>
    <mat-option value="CAD">Canada Dollars</mat-option>
    <mat-option value="CLP">Chile Pesos</mat-option>
    <mat-option value="CNY">China Yuan Renmimbi</mat-option>
    <mat-option value="CYP">Cyprus Pounds</mat-option>
    <mat-option value="CSK">Czech Republic Koruna</mat-option>
    <mat-option value="DKK">Denmark Kroner</mat-option>
    <mat-option value="NLG">Dutch Guilders</mat-option>
    <mat-option value="XCD">Eastern Caribbean Dollars</mat-option>
    <mat-option value="EGP">Egypt Pounds</mat-option>
    <mat-option value="FJD">Fiji Dollars</mat-option>
    <mat-option value="FIM">Finland Markka</mat-option>
    <mat-option value="FRF">France Francs</mat-option>
    <mat-option value="DEM">Germany Deutsche Marks</mat-option>
    <mat-option value="XAU">Gold Ounces</mat-option>
    <mat-option value="GRD">Greece Drachmas</mat-option>
    <mat-option value="HKD">Hong Kong Dollars</mat-option>
    <mat-option value="HUF">Hungary Forint</mat-option>
    <mat-option value="ISK">Iceland Krona</mat-option>
    <mat-option value="INR">India Rupees</mat-option>
    <mat-option value="IDR">Indonesia Rupiah</mat-option>
    <mat-option value="IEP">Ireland Punt</mat-option>
    <mat-option value="ILS">Israel New Shekels</mat-option>
    <mat-option value="ITL">Italy Lira</mat-option>
    <mat-option value="JMD">Jamaica Dollars</mat-option>
    <mat-option value="JPY">Japan Yen</mat-option>
    <mat-option value="JOD">Jordan Dinar</mat-option>
    <mat-option value="KRW">Korea (South) Won</mat-option>
    <mat-option value="LBP">Lebanon Pounds</mat-option>
    <mat-option value="LUF">Luxembourg Francs</mat-option>
    <mat-option value="MYR">Malaysia Ringgit</mat-option>
    <mat-option value="MXP">Mexico Pesos</mat-option>
    <mat-option value="NLG">Netherlands Guilders</mat-option>
    <mat-option value="NZD">New Zealand Dollars</mat-option>
    <mat-option value="NOK">Norway Kroner</mat-option>
    <mat-option value="PKR">Pakistan Rupees</mat-option>
    <mat-option value="XPD">Palladium Ounces</mat-option>
    <mat-option value="PHP">Philippines Pesos</mat-option>
    <mat-option value="XPT">Platinum Ounces</mat-option>
    <mat-option value="PLN">Poland Zloty</mat-option>
    <mat-option value="PTE">Portugal Escudo</mat-option>
    <mat-option value="ROL">Romania Leu</mat-option>
    <mat-option value="RUR">Russia Rubles</mat-option>
    <mat-option value="SAR">Saudi Arabia Riyal</mat-option>
    <mat-option value="XAG">Silver Ounces</mat-option>
    <mat-option value="SGD">Singapore Dollars</mat-option>
    <mat-option value="SKK">Slovakia Koruna</mat-option>
    <mat-option value="ZAR">South Africa Rand</mat-option>
    <mat-option value="KRW">South Korea Won</mat-option>
    <mat-option value="ESP">Spain Pesetas</mat-option>
    <mat-option value="XDR">Special Drawing Right (IMF)</mat-option>
    <mat-option value="SDD">Sudan Dinar</mat-option>
    <mat-option value="SEK">Sweden Krona</mat-option>
    <mat-option value="CHF">Switzerland Francs</mat-option>
    <mat-option value="TWD">Taiwan Dollars</mat-option>
    <mat-option value="THB">Thailand Baht</mat-option>
    <mat-option value="TTD">Trinidad and Tobago Dollars</mat-option>
    <mat-option value="TRL">Turkey Lira</mat-option>
    <mat-option value="VEB">Venezuela Bolivar</mat-option>
    <mat-option value="ZMK">Zambia Kwacha</mat-option>
    <mat-option value="EUR">Euro</mat-option>
    <mat-option value="XCD">Eastern Caribbean Dollars</mat-option>
    <mat-option value="XDR">Special Drawing Right (IMF)</mat-option>
    <mat-option value="XAG">Silver Ounces</mat-option>
    <mat-option value="XAU">Gold Ounces</mat-option>
    <mat-option value="XPD">Palladium Ounces</mat-option>
    <mat-option value="XPT">Platinum Ounces</mat-option>
  </mat-select>
</mat-form-field>
