<app-Empty></app-Empty>
<div class="fullsite">
  <h3>Reset Password</h3>
  <form class="center" [formGroup]="Group" (ngSubmit)="OnSubmit(Group.value)">
    <label for="first">Password</label>
    <input type="password" placeholder="password" id="first" formControlName="Password" required/>
    <label for="second">Repeat password</label>
    <input type="password" placeholder="repeat password" id="second" formControlName="VerifyPassword" required/>

    <button type="submit">Reset</button>
  </form>

  <app-Error *ngIf="Error" class="Error" (CloseError)="Close()" [ErrorMessage]="Error.Msg" [ErrorCode]="Error.Code"></app-Error>
</div>