<div class="Searchblock">
  <div class="buttons">
    <button class="BuyPi" [ngClass]="IsBuying ? 'selected' : ''" (click)="SetToBuy()">Buy Pi</button>
    <button class="SellPi" [ngClass]="!IsBuying ? 'selected' : ''" (click)="SetToSell()">Sell Pi</button>
  </div>
    <form [formGroup]="Group" (ngSubmit)="Find(Group.value)" [ngClass]="IsBuying ? 'buySelected' : 'none'">  
      <div class="amount">
          <input type="number" placeholder="from" formControlName="From" required />
          <span>-</span>
          <input type="number" placeholder="to" formControlName="To" required />
      </div>
      <app-SelectCurrency [Group]="Group" class="flex"></app-SelectCurrency>
      <app-Select [Group]="Group" class="flex"></app-Select>
      <button>Find all</button>
    </form>
    <form [formGroup]="Group" (ngSubmit)="Find(Group.value)" [ngClass]="!IsBuying ? 'sellSelected' : 'none'">  
      <div class="amount">
          <input type="number" placeholder="from" formControlName="From" required />
          <span>-</span>
          <input type="number" placeholder="to" formControlName="To" required />
      </div>
      <app-SelectCurrency [Group]="Group" class="flex"></app-SelectCurrency>
      <app-Select [Group]="Group" class="flex"></app-Select>
      <button>Find all</button>
    </form>
</div>
