<app-Empty></app-Empty>
<div class="fullsite">
  <h1>Create an offer</h1>
  <div>
    <p>If you create an offer, be it selling or buying Pi, your offer will be posted on our home site, so people can get in toch with you</p>
  </div>
  <app-Success class="Error" *ngIf="Success"></app-Success>
  <div class="buttons">
    <button [ngClass]="!Buying ? 'selected' : ''" (click)="Sell()">Sell</button>
    <button [ngClass]="Buying ? 'selected' : ''" (click)="Buy()">Buy</button>
  </div>
  <form [formGroup]="Group" (ngSubmit)="CreateOffer(Group.value)">
    <label for="limit">Limit amount of Pi</label>
    <input type="number" step="any" min="0.5" max="1000" placeholder="1" id="limit" formControlName="Limit" required />

    <label for="payment">Cost of each Pi</label>
    <input type="number" step="any" min="0.5" max="1000" placeholder="10" id="payment" formControlName="Price" required />

    <label for="currency">Currency</label>
    <app-SelectCurrency [Group]="Group" class="flex" id="currency"></app-SelectCurrency>

    <label for="state">State</label>
    <app-Select (OnChange)="OnChange($event)" [Group]="Group" class="flex" id="state"></app-Select>

    <div *ngIf="Cities.length > 0" class="flex">
      <label for="cities">Cities</label>
      <select value="{{Group.value.City}}" id="cities" formControlName="City">
        <option *ngFor="let city of Cities" value="{{city}}">{{city}}</option>
      </select>
    </div>

    <label for="deposit">Deposit</label>
    <select id="deposit" formControlName="Deposit">
      <option selected>Deposit</option>
    </select>

    <button type="submit">Create Offer</button>

    <app-Error *ngIf="Error" class="Error" [ErrorCode]="Error.Code" [ErrorMessage]="Error.Msg" (CloseError)="Close($event)"></app-Error>
  </form>
  <div>
    <p>*If you want to change any values, checkout your <a href="dashboard">dashboard</a></p>
  </div>
</div>
<app-Empty></app-Empty>
