<div *ngIf="!Loading" class="fullsite">
  <app-Empty></app-Empty>
  <div>
    <app-Warning *ngIf="!Yourself.Terms" Content="Setup your terms, otherwise you can't post an offer"></app-Warning>
    <mat-card>
      <mat-card-title>Create an offer</mat-card-title>
      <mat-card-content>
        If you create an offer, be it selling or buying Pi, your offer will be posted on our home site, so people can get in toch with you
      </mat-card-content>
    </mat-card>

    <div class="buttons">
      <button mat-raised-button [ngClass]="!Buying ? 'selected' : ''" (click)="Sell()">Sell</button>
      <button mat-raised-button [ngClass]="Buying ? 'selected' : ''" (click)="Buy()">Buy</button>
    </div>
    <form [formGroup]="Group" (ngSubmit)="CreateOffer(Group.value)">
      <mat-form-field>
        <input matInput type="number" step="any" min="0.5" max="1000" placeholder="Limit" formControlName="Limit" required />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" step="any" min="0.5" max="1000" placeholder="Cost of each Pi" formControlName="Price" required />
      </mat-form-field>

      <label for="currency">Currency</label>
      <app-SelectCurrency [Group]="Group" class="flex" id="currency"></app-SelectCurrency>

      <label for="state">State</label>
      <app-Select (OnChange)="OnChange($event)" [Group]="Group" class="flex" id="state"></app-Select>

      <mat-form-field *ngIf="Cities.length > 0" class="flex">
        <mat-label>Cities</mat-label>
        <mat-select value="{{Group.value.City}}" id="cities" formControlName="City">
          <mat-option *ngFor="let city of Cities" value="{{city}}">{{city}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Deposit</mat-label>
        <mat-select id="deposit" formControlName="Deposit">
          <mat-option value="Cash deposit" selected>Cash deposit</mat-option>
        </mat-select>
      </mat-form-field>

      <button *ngIf="Yourself.Terms" mat-raised-button type="submit">Create Offer</button>
    </form>
    <app-Empty></app-Empty>
    <div class="hint">
      <p>*If you want to change any values, checkout your <a href="dashboard">dashboard</a></p>
    </div>
  </div>
  <app-Empty></app-Empty>
</div>
<app-Loading *ngIf="Loading"></app-Loading>