:root {
    --bettergray: rgba(220, 224, 230, 1);
    --background: rgba(22, 22, 22, 1);
    --component: rgba(52, 52, 52, 1);
}

* {
    display: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

svg {
    vertical-align: middle;
}

.NavButton {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bettergray);
    border-radius: 10px;
}

.NavButton svg, .NavButton line {
    width: 80%;
    color: rgba(199, 204, 212, 1)
}

.NavButton:hover {
    background-color: darkgray;
}

.fullsite {
    min-height: 90vh;
}

.mat-elevation-z8 {
    margin: auto;
}

.heading {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.headingcard {
    margin: auto;
    margin-bottom: 20px;
}

select {
    margin-top: 5px;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 50%;
    height: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.none {
    display: none;
}

.infobox {
    position: fixed;
    top:50%;
    left:50%;
    width:250px;  /* adjust as per your needs */
    height:350px;   /* adjust as per your needs */
    margin-left:-125px;   /* negative half of width above */
    margin-top:-175px;   /* negative half of height above */
    background-color: whitesmoke;
    border-radius: 15px;
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infobox .top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

.infobox form {
    width: 90%;
}

.infobox button {
    width: 70%;
}

.infoAnim {
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.infobox h2, .infobox h5 {
    text-align: center;
}

.infobox > form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes slide {
    0% {
        top: -100%;
    }

    100% {
        top: 50%;
    }
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    height: 100%;
}
html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(180deg, white 0%, rgb(253, 225, 192) 100%) no-repeat center center fixed;
}

td, th {
    max-width: 25%;
    min-width: 25%;
    overflow: hidden;
}

mat-icon {
    vertical-align: middle;
}

table {
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scroll::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE and Edge */
#scroll {
    -ms-overflow-style: none;
}

.mat-input {
    width: 75%;
}

@media (min-width: 1320px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 950px) {
    .notDisplayPC {
        display: none;
    }
}
