h2 {
    margin-left: 30px;
    margin-top: 10px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
}

.offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-3r th, .table-3r td {
    width: 33%;
    overflow: hidden;
}

.offers > .offer {
    display: grid;
    grid-template-areas: "id deposit type options";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.offer > .offerId {
    grid-area: id;
    max-width: 100%;
    overflow: hidden;
}

.offer > .Deposit {
    grid-area: deposit;
}

.offer > .Type {
    grid-area: type;
}

.offer > .settings {
    grid-area: options;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.offerHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}

.feedbackHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}

.feedbacks {
    margin-top: 25px;
}

.feedback {
    display: grid;
    grid-template-areas: "reviewId from settings";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feedback .reviewId {
    grid-area: reviewId;
    max-width: 100%;
    overflow: hidden;
}

.feedback .reviewUser {
    grid-area: from;
}

.feedback .settings {
    grid-area: settings;
}

.fullsite {
    width: 95%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

input, select {
    width: 75%;
}

.noneElements {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}