h2 {
    margin-left: 30px;
    margin-top: 10px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.dashboardheading {
    margin: auto;
    margin-bottom: 20px;
}

.overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
}

.table-3r th, .table-3r td {
    width: 33%;
    overflow: hidden;
}

.mat-elevation-z8 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.noneElements {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 950px) {
    .dashboardgrid {
        display: grid;
        grid-template-areas: 
        "offers feedbacks"
        "transactions unavailable";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        grid-gap: 20px;
    }

    .dashboardgrid > .offers {
        grid-area: offers;
    }

    .dashboardgrid > .feedbacks {
        grid-area: feedbacks;
    }

    .dashboardgrid > .transactions {
        grid-area: transactions;
    }

    .dashboardgrid > .unavailable {
        grid-area: unavailable;
    }
}